*.rb

# We list exceptions here for each .rb file we want to keep
!bonmin.rb
!cbc.rb
!chemharp.rb
!couenne.rb
!ecos.rb
!flann.rb
!glpk452.rb
!glpk455.rb
!hdf5.rb
!hwloc.rb
!ipopt.rb
!libgfortran.rb
!netcdf.rb
!nlopt.rb
!optimizationservices.rb
!scs.rb
!zeromq32.rb

# fontconfig is special-cased by it's `pour_bottle?` method, so we have to carry our own here
!fontconfig.rb
